@import "../dotjemvars";

.navbar {
  .navbar-logo{
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
  }

  .navbar-nav>li>a{
    padding-top: 17px;
    padding-bottom: 13px;
  }

  .spacer-vertical {
    height: 50px;
    margin: 0 20px;
  }

  &.navbar-fixed-top {
    border: 0;
  }
}

.logo.small{
  padding-left: 70px;
  height: 50px;
}
.logo.large{
  height: 90px;
  width: 120px;
  vertical-align: text-top;
}

.page-footer{
  margin-bottom: 0px;
  padding: 5px;
  background-color: #444;
  color: #eee;

  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1001;

  .copyright{
    font-size: 16px;
  }
}

dl.narrow dt { width: 60px; }
dl.narrow dd { margin-left: 80px; }

dl.medium dt { width: 100px; }
dl.medium dd { margin-left: 120px; }

@media (max-width: 992px) {
  .navbar-logo .navbar-brand { display: none; }
}

@media (max-width: 767px) {
  .logo.large{ height: 50px; width: 65px; }
  .navbar-logo .navbar-brand { display: block; }
  .navbar-collapse .nav > .divider-vertical {
    display: none;
  }
}

@media (max-width: 500px) {
  .splash .btn{
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 360px) {
  .navbar-logo .navbar-brand { display: none; }
}

@media (max-width: 310px) {
  .logo.large{ display: none; }
}