/* Move down content because we have a fixed navbar that is 50px tall */


.navbar {
  .navbar-logo{
    float: left;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
  }

  .navbar-nav>li>a{
    padding-top: 17px;
    padding-bottom: 10px;
  }
}

.logo.small{
  padding-left: 70px;
  height: 50px;
}
.logo.large{
  height: 90px;
  width: 120px;
  vertical-align: text-top;
}
.copyright{
  font-size: 16px;
}

.page-footer{
  margin-bottom: 0px;
  padding: 5px;
  background-color: #444;
  color: #eee;

  position: fixed;
  bottom: 0;
  width: 100%;
}

hr {
  height: 1px;
  border: 0;
  color: #c60;
  background: #c60;
  margin: 5px 0;
}

dl.narrow dt { width: 60px; }
dl.narrow dd { margin-left: 80px; }

dl.medium dt { width: 100px; }
dl.medium dd { margin-left: 120px; }

.bs-callout { margin: 20px 0; padding: 20px; border-left: 3px solid #eee; }
.bs-callout h4 { margin-top: 0; margin-bottom: 5px; font-weight: bold; }
.bs-callout p:last-child { margin-bottom: 0; }
.bs-callout code,
.bs-callout .highlight { background-color: #fff; }

/* Themes for different contexts */
.bs-callout-danger { background-color: #fdf7f7; border-color: #d9534f; }
.bs-callout-danger h4 { color: #d9534f; }
.bs-callout-warning { background-color: #fcf8f2; border-color: #f0ad4e; }
.bs-callout-warning h4 { color: #f0ad4e; }
.bs-callout-info { background-color: #f4f8fa; border-color: #5bc0de; }
.bs-callout-info h4 { color: #5bc0de; }

@media (max-width: 992px) {
  .navbar-logo .navbar-brand { display: none; }
}

@media (max-width: 767px) {
  .logo.large{ height: 50px; width: 65px; }
  .navbar-logo .navbar-brand { display: block; }
}

@media (max-width: 500px) {
  .splash .btn{
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 360px) {
  .navbar-logo .navbar-brand { display: none; }
}

@media (max-width: 310px) {
  .logo.large{ display: none; }
}