@import "compass/css3";
@import "compass/css3/transition";


@import "dotjemvars";
@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 32px;
}

hr {
  height: 1px;
  border: 0;
  color: $brand-primary;
  background: $brand-primary;
  margin: 5px 0;
}

.lesson-content {
  padding: 10px 20px;
  .page-header {
    padding-bottom: 9px;
    margin: -10px 0 20px;
    border-bottom: 1px solid #eee;
  }
}

@import "core/navbar";
@import "core/sidebar";
@import "slides/slides";
@import "dxsample/dxsample";
@import "dxsyntax/dxsyntax";

.full-width { width: 100%; }
.fixed-width-small { width: 60px; }
.fixed-width-medium { width: 120px; }
.fixed-width-large { width: 240px; }

.clickable { cursor: pointer; }

.text-small { font-size: $font-size-small; }
.text-large { font-size: $font-size-large; }

.no-border { border: 0px !important; }
.no-padding { padding: 0px !important; }
.no-margin { margin: 0px !important; }

.color-white { color: #fff; }

.color-gray-darker { color: $gray-darker; }
.color-gray-dark { color: $gray-dark; }
.color-gray { color: $gray; }
.color-gray-light { color: $gray-light; }
.color-gray-lighter { color: $gray-lighter; }

.color-brand-primary { color: $brand-primary; }
.color-brand-success { color: $brand-success; }
.color-brand-info{ color: $brand-info; }
.color-brand-warning { color: $brand-warning; }
.color-brand-danger { color: $brand-danger; }

.color-primary-0 { color: $color-primary-0; }
.color-primary-1 { color: $color-primary-1; }
.color-primary-2 { color: $color-primary-2; }
.color-primary-3 { color: $color-primary-3; }
.color-primary-4 { color: $color-primary-4; }

.color-secondary-1-0 { color: $color-secondary-1-0; }
.color-secondary-1-1 { color: $color-secondary-1-1; }
.color-secondary-1-2 { color: $color-secondary-1-2; }
.color-secondary-1-3 { color: $color-secondary-1-3; }
.color-secondary-1-4 { color: $color-secondary-1-4; }

.color-secondary-2-0 { color: $color-secondary-2-0; }
.color-secondary-2-1 { color: $color-secondary-2-1; }
.color-secondary-2-2 { color: $color-secondary-2-2; }
.color-secondary-2-3 { color: $color-secondary-2-3; }
.color-secondary-2-4 { color: $color-secondary-2-4; }

.color-compliment-0 { color: $color-complement-0; }
.color-compliment-1 { color: $color-complement-1; }
.color-compliment-2 { color: $color-complement-2; }
.color-compliment-3 { color: $color-complement-3; }
.color-compliment-4 { color: $color-complement-4; }

.bg-white { background-color: #fff; }

.bg-gray-darker { background-color: $gray-darker; }
.bg-gray-dark { background-color: $gray-dark; }
.bg-gray { background-color: $gray; }
.bg-gray-light { background-color: $gray-light; }
.bg-gray-lighter { background-color: $gray-lighter; }

.bg-brand-primary { background-color: $brand-primary; }
.bg-brand-success { background-color: $brand-success; }
.bg-brand-info { background-color: $brand-info; }
.bg-brand-warning { background-color: $brand-warning; }
.bg-brand-danger { background-color: $brand-danger; }

.bg-primary-0 { background-color: $color-primary-0; }
.bg-primary-1 { background-color: $color-primary-1; }
.bg-primary-2 { background-color: $color-primary-2; }
.bg-primary-3 { background-color: $color-primary-3; }
.bg-primary-4 { background-color: $color-primary-4; }

.bg-secondary-1-0 { background-color: $color-secondary-1-0; }
.bg-secondary-1-1 { background-color: $color-secondary-1-1; }
.bg-secondary-1-2 { background-color: $color-secondary-1-2; }
.bg-secondary-1-3 { background-color: $color-secondary-1-3; }
.bg-secondary-1-4 { background-color: $color-secondary-1-4; }

.bg-secondary-2-0 { background-color: $color-secondary-2-0; }
.bg-secondary-2-1 { background-color: $color-secondary-2-1; }
.bg-secondary-2-2 { background-color: $color-secondary-2-2; }
.bg-secondary-2-3 { background-color: $color-secondary-2-3; }
.bg-secondary-2-4 { background-color: $color-secondary-2-4; }

.bg-compliment-0 { background-color: $color-complement-0; }
.bg-compliment-1 { background-color: $color-complement-1; }
.bg-compliment-2 { background-color: $color-complement-2; }
.bg-compliment-3 { background-color: $color-complement-3; }
.bg-compliment-4 { background-color: $color-complement-4; }