<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8" ng-bind="slides.title" style="font-weight: bold; font-size: 36px;"></div>
            <div class="col-sm-4">
                <a sref="'$node(1)'" class="btn btn-default pull-right">
                    Next &nbsp; <span class="icon-next"></span>
                </a>
                <a sref="'$node(-1)'" class="btn btn-default pull-right">
                    <span class="icon-previous"></span> &nbsp; Previous
                </a>
            </div>
        </div>
    </div>
</div>
<div jem-view="slide"></div>