<div class="jumbotron">
    <div class="container">
        <h1><span class="logo large" />dotJEM Angular Lessons</h1>
        <p>Workshop lessons for AngularJS and dotJEM Angular components!</p>
    </div>
</div>
<div class="jumbotron bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Forms validation</h2>
                <p>
                    <ul class="text-large">
                        <li>Basic forms and validation</li>
                        <li>Custom formatters, parsers</li>
                        <li>Custom validators</li>
                        <li>Custom editor directives</li>
                        <li>Custom visualization</li>
                        <li>Dynamic forms</li>
                    </ul>
                </p>
                <p><a class="btn btn-primary" role="button">Read More »</a></p>
            </div>
        </div>
    </div>
</div>

