<div class="jumbotron splash">
    <div class="container">
        <h1><span class="logo large" />dotJEM Angular Lessons</h1>
        <p>Workshop lessons for AngularJS and dotJEM Angular components!</p>
    </div>
</div>

<div class="jumbotron light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>States</h2>
                <p>Hierarchical State Machine for managing application state.</p>
                <p>With the web in mind states may be bound to routes and transitions between all states are by default allowed.</p>
                <p><a class="btn btn-default" sref="'docs.concepts.states'" role="button">Read More »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Transitions</h2>
                <p>Take full control over transitions between states by leveraging simple transition handlers.</p>
                <p>While simple, handlers allow to reject, modify, redirect and block transition between to states.</p>
                <p><a class="btn btn-default" sref="'docs.concepts.transitions'" role="button">Read More »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Views</h2>
                <p>A dead simple view model ensures that it is easy to take control over many parallel or nested views.</p>
                <p>While at the same time providing a rich set of more advanced features.</p>
                <p><a class="btn btn-default" sref="'docs.concepts.views'" role="button">Read More »</a></p>
            </div>
        </div>
    </div>
</div>

